* {
    margin: 0%;
    padding: 0;
    font-family: "Roboto",sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: centre ;
}

.weather{
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
}

.weather1{
    font-size: 2rem;
}

.weather p{
    font-size: 0.75rem;
}
nav {
    border-radius: 100px 100px 0 0;
    padding: 1rem 0 ;
    height: 100px;
    box-shadow: 0 0 25px rgba(0,0,0,0.18) ; 
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: rgba(52, 8, 8, 0.075);
    display: flex;
    align-items: center;
}

nav form{
    width: 70%;
    background-color: rgb(177, 95, 95) ;
    grid-template-columns:5fr 1fr;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 40px;

    
}

.searchfield {
    font-size: 1.1rem;
    outline: none;
    color: white;
    background-color: transparent;
    border: none;
    padding: 1rem 0;
    border-bottom: 2px solid white;
    width: 98%;
}
nav form button {
    background-color: rgb(153, 153, 72);
    border-radius: 0 25px 25px 0;
    font-size: 1.1rem;
    color: white;
    outline: none;
}  
nav form button:hover{
    color: blue;
}

